urxvt.geometry: 96x24
!urxvt.transparent: true
!urxvt.shading: 20
urxvt.scrollBar: false
urxvt.cursorBlink: true
urxvt.cursorUnderline: true
urxvt.jumpScroll: false
urxvt.scrollWithBuffers: true

! special
*.foreground:   #e9ecef
*.background:   #212529
*.cursorColor:  #e9ecef

! black
*.color0:       #343a40
*.color8:       #495057

! red
*.color1:       #f03e3e
*.color9:       #ff6b6b

! green
*.color2:       #37b24d
*.color10:      #51cf66

! yellow
*.color3:       #fcc419
*.color11:      #ffe066

! blue
*.color4:       #1c7ed6
*.color12:      #339af0

! magenta
*.color5:       #7048e8
*.color13:      #845ef7

! cyan
*.color6:       #0ca678
*.color14:      #20c997

! white
*.color7:       #ced4da
*.color15:      #f8f9fa

! clickable links
urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/google-chrome
urxvt.matcher.button: 1

! yankable links
urxvt.perl-ext: default,url-select
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.launcher: /usr/bin/xdg-open
urxvt.url-select.underline: true

! font
urxvt.font: xft:Inconsolata:size=12
urxvt.imLocale: en_US.UTF-8
