! Credits to:
! https://github.com/zack-de-la-rocha/
!
! Thanks Buddy

urxvt.transparent: true
urxvt.shading: 20
urxvt.scrollBar: false
urxvt.cursorBlink: true
urxvt.cursorUnderline: true
urxvt.geometry: 96x24
urxvt.termName: rxvt
urxvt.allow_bold: true
urxvt.jumpScroll: true
urxvt.tintColor: white
! urxvt.letterSpace: -1

! urxvt color scheme:

urxvt.background: #0c0d0e
urxvt.foreground: #7f8f9f

urxvt.colorUL: #86a2b0

! black + red
urxvt.color0: #101010
urxvt.color1: #705050
! green + yellow
urxvt.color2: #60b48a
urxvt.color3: #f0dfaf
! blue + purple
urxvt.color4: #506070
urxvt.color5: #dc8cc3
! cyan + white
urxvt.color6: #8cd0d3
urxvt.color7: #dcdccc
! bright-black + bright-red
urxvt.color8: #000000
urxvt.color9: #dca3a3
! bright-green + bright-yellow
urxvt.color10: #c3bf9f
urxvt.color11: #f0dfaf
! bright-blue + bright-purple
urxvt.color12: #94bff3
urxvt.color13: #ec93d3
! bright-cyan + bright-white
urxvt.color14: #93e0e3
urxvt.color15: #ffffff

! clickable links
urxvt.perl-ext-common: default,matcher
urxvt.url-launcher: /usr/bin/firefox
urxvt.matcher.button: 1

! yankable links
urxvt.perl-ext: default,url-select
urxvt.keysym.M-u: perl:url-select:select_next
urxvt.url-select.launcher: /usr/bin/xdg-open
urxvt.url-select.underline: true

! font
urxvt.font: xft:DejaVu Sans Mono:size=10
urxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=10
urxvt.imLocale: en_US.UTF-8

