<?xml version="1.0" encoding="UTF-8"?>
<!-- Place in $HOME/.config/openbox/menu.xml -->
<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute"><execute>alacritty</execute></action>
  </item>
  <item label="Web Browser">
    <action name="Execute"><execute>chromium</execute></action>
  </item>
  <item label="File Explorer">
    <action name="Execute"><execute>thunar</execute></action>
  </item>
  <separator />
  <item label="Code">
    <action name="Execute"><execute>code</execute></action>
  </item>
  <!-- This requires the presence of the 'menu' package to work -->
  <!-- <menu id="/Debian" /> -->
  <separator />
  <menu id="client-list-menu" />
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
